<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
        <style> div{float: left;} </style>
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css"
        rel="stylesheet" type="text/css">
    <script 
        src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>

    {{plot.script|safe}}

	</head>
	<body>
		<h1>Please enter a stock symbol.</h1>
		<form id="input"  method="post" action ="index">
        <p>
        Stock Symbol: {{form.openid}} 
        </p>
            {{ typeform.hidden_tag() }}
            {{ typeform.stock_type }}
            {{ rangeform.hidden_tag() }}
            {{ rangeform.date_type }}
        <input type = "submit" value="submit">
        </form>
        {{plot.div|safe}}
	</body>
</html>
